@import "./miscellaneous.scss";

.cart {
    position: relative;
    width: 95%;

    margin-top: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-left {
        background-color: teal;
        width: 72%;
        height: 200rem;
    }

    &-right {
        background-color: rebeccapurple;
        width: 25%;
        height: 20rem;
    }
}
