@import "./miscellaneous.scss";

.logIn {
    width: 22rem;
    border: 1px solid #ddd;

    &-image {
        width: 8rem;
        margin: 1rem 0;

        img {
            width: 100%;
        }
    }

    &-title {
        width: 100%;
        font-size: 2rem;
        margin: 1rem 0;
    }

    &-form {
        width: 90%;
    }

    &-input {
        padding: 5px 0;
        width: 100%;
        margin: 0.3rem 0;

        display: flex;
        flex-direction: column;

        p {
            margin-top: 0.5rem;
            font-size: 0.8rem;
        }

        svg {
            color: $light-blue;
        }

        label {
            font-weight: bold;
            font-size: 0.9rem;
            margin-bottom: 0.3rem;
        }

        input {
            width: 100%;
            height: 1.7rem;
            border: 1px solid $input-border;
            line-height: normal;
            vertical-align: middle;

            &:focus {
                box-shadow: 0px 0px 2px 1px $main-orange;
                border: 1px solid $main-orange;
                outline: none;
            }
        }
    }

    &-button {
        margin-top: 1rem;
    }

    &-privacy,
    &-sign {
        color: $light-gray;
        width: 100%;
        font-size: 0.9rem;
        margin: 1rem 0;
        line-height: 150%;
        text-align: start;

        svg {
            font-size: 0.5rem;
        }
    }

    &-help {
        width: 100%;
        text-align: start;
        font-size: 0.85rem;
        vertical-align: middle;
        margin-bottom: 1rem;

        svg {
            font-size: 0.65rem;
        }
    }
}

.smallFooter {
    width: 100%;
    margin-top: 1rem;

    &-links {
        width: 15rem;
        margin-top: 1rem;

        display: flex;
        justify-content: space-between;

        span {
            font-size: 0.8rem;
            color: $light-blue;
        }
    }

    &-rights {
        color: $input-border;
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}

.newTo {
    width: 22rem;

    &-amazon {
        width: 100%;
        margin: 1rem 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &__line {
            background-color: #e0e0e0cb;
            width: 33%;
            height: 1px;
        }

        &__text {
            color: #868686;
            font-size: 0.9rem;
        }
    }

    &-button {
        background-color: #e7e9ec;
        width: 100%;
        height: 1.8rem;
        border-color: #adb1b8 #a2a6ac #8d9096;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;

        &:hover {
            background-color: rgba(209, 229, 235, 0.726); // cant find the right color for button hover
        }
    }
}
