@import "./miscellaneous.scss";

.front {
    position: fixed;
    top: 6.5rem;
    left: 0;
    width: 100%;
    z-index: 50;

    &-banner {
        background-color: peru;
        width: 97%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
        }
    }

    &-products {
        position: relative;
        top: -29rem;
        background-color: rebeccapurple;
        width: 97%;
        height: 30rem;
        z-index: 51;
    }
}
